extends css
extends html
extends react

snippet . "parens" i
(${1})
endsnippet

snippet , "braces" i
{${1}}
endsnippet

snippet / "brackets" i
[${1}]
endsnippet

snippet cob "const object definition"
const ${1:objName} = {${2:/* def */}}
endsnippet

snippet caf "const arrow function"
const ${1:fnName} = ${2:(${3})} => ${0}
endsnippet

snippet op "object property"
${1:propName}: ${2:{
	${3}
}},
endsnippet
